@success-color: #709d5a; // success state color
@primary-color: #3DAFF5; // primary color for all components
@layout-header-background: rgba(255, 255, 255, 0);
@layout-body-background: rgba(0, 0, 0, 0);