html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  #app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 
  }
 
 .center_flex{
    display: flex;
    justify-content: center;
    align-items: center;
 }





 